<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Team -->
<body style="background-color: #b1e0f8;">
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1"><font face="Verdana">OUR TEAM</font></h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="cardcard bg-secondary text-white">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" style="border-radius:50%;" src="https://pbs.twimg.com/profile_images/1343882724491341824/X9EBVcmV_400x400.jpg" alt="card image"></p>

                                    <p class="card-text">Alper Can Boyraz</p>
                                    <a href="https://www.linkedin.com/in/alper-can-boyraz-44b4b5171/" class="btn btn-primary">Linkedin</a>
                                    <a href="https://github.com/alpercanboyraz" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card bg-info text-white">
                                <div class="card-body text-center mt-4">

                                    <p class="card-text">Dokuz Eylül Üniversitesi Bilgisayar Mühendisliği 3.Sınıf</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card bg-dark text-white">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" style="border-radius:50%;" src="https://pbs.twimg.com/profile_images/1031832812125597696/qnBEX5Fs_400x400.jpg" alt="card image"></p>

                                    <p class="card-text">Ümit Samur</p>
                                    <a href="https://www.linkedin.com/in/%C3%BCmit-samur-16a4a218b/?originalSubdomain=tr" class="btn btn-primary">Linkedin</a>
                                    <a href="https://www.linkedin.com/in/%C3%BCmit-samur-16a4a218b/?originalSubdomain=tr" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card bg-info text-white">
                                <div class="card-body text-center mt-4">

                                    <p class="card-text">Dokuz Eylül Üniversitesi Bilgisayar Mühendisliği 3.Sınıf</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
            <!-- ./Team member -->


